/*
Collapse cart
=======================================
The collapse cart element is an alternative to the offcanvas shopping cart inside Shopware 5. The collapse cart displays a shopping cart dropdown element similar to the default Shopware 4 cart.

The Settings can be modified in the backend theme manager.

The collapse cart element contains the current items in the users shopping cart and the subtotal price amount.
*/

.container--ajax-cart {
    @include unitize(top, 50);
    @include unitize(margin-right, 10);
    @include unitize-padding(15, 0, 0, 0);
    position: absolute;
    text-align: left;
    right: 0;
    z-index: $zindex-collapse-cart;
    display: none;

    &.off-canvas {
        @include unitize-width(280);
        @include transition(all 0.45s cubic-bezier(.3,0,.15,1));
        margin-right: 0;
        display: block;
        height: 100%;
        left: auto;
        position: fixed;
        top: 0;
        padding: 0;
        background: #fff;
        z-index: $zindex-collapse-cart-offcanvas;

        .icon--loading-indicator {
            @include unitize-width(38);
            @include unitize-height(38);
            position: absolute;
            margin: auto;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
        }
    }

    .icon--loading-indicator {
        @include unitize-width(21);
        @include unitize-height(21);
        @include unitize-padding(20, 0);
        margin: 0 auto;
        display: block;
        position: relative;
        box-sizing: content-box;

        &:before {
            @include border-radius(100%);
            @include animation(keyframe--spin 1s linear infinite);
            width: 100%;
            height: 100%;
            box-sizing: border-box;
            display: block;
            content: "";
            border: 2px solid #CCC;
            border-top: 2px solid #333;
        }
    }
}

.ajax--cart {
    @include unitize-width(450);
    @include border-radius();
    @include unitize(font-size, 14);
    border: 1px solid $border-color;
    position: relative;
    background: #fff;

    &:after,
    &:before {
        @include unitize(right, 10);
        bottom: 100%;
        border: solid transparent;
        content: "";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }

    &:after {
        @include unitize(right, 11);
        @include unitize(border-width, 9);
        border-bottom-color: #fff;
    }

    &:before {
        @include unitize(border-width, 10);
        border-bottom-color: $border-color;
    }

    .content--loader {
        @include unitize-width(21);
        @include unitize-height(21);
        @include unitize-padding(20, 0);
        @include box-sizing(content-box);
        margin: 0 auto;
    }

    .item--container {
        @include unitize-padding(0, 10);
        @include unitize-max-height(353);
        overflow-y: auto;
    }

    .alert {
		@include reset-border-radius();
        @include unitize(margin-bottom, 10);

        .alert--icon,
        .icon--element {
            width: 15%;

            .is--warning {
                color: $highlight-notice;
                background: desaturate(lighten($highlight-notice, 42%),20%);
            }

            .is--success {
                color: $highlight-success;
                background: desaturate(lighten($highlight-success, 42%),20%);
            }
        }

        .alert--content {
            width: 85%;
        }
    }

    .cart--item {
        @include unitize-padding(10, 0);
        @include unitize(line-height, 38);
        border-bottom: 1px solid $border-color;
        overflow: hidden;

        &:last-child {
            border: 0 none;
        }

        &.is--empty {
            padding-bottom: 0;
        }

        .thumbnail--container {
            @include unitize-margin(0, 10, 0, 0);
            @include unitize-width(38);
            @include unitize-height(38);
            @include border-radius();
            float: left;
            position: relative;

            &.has--image {
                border: 1px solid $border-color;
                background: #FFFFFF;
            }

            .cart--badge {
                @include border-radius-multi(3px, 0, 0, 3px);
                @include unitize-width(14);
                display: block;
                position: absolute;
                height: 100%;
                top: 0;
                left: 0;
                background: $brand-primary;

                .badge--free {
                    @include rotate(-90deg);
                    @include unitize(font-size, 8);
                    @include unitize(line-height, 12);
                    @include unitize-width(40);
                    color: #fff;
                    text-transform: uppercase;
                    text-align: center;
                    font-weight: $font-bold-weight;
                    display: block;
                    position: absolute;
                    padding: 0;
                    margin: 0;
                    top: 0;
                    bottom: 0;
                }
            }

            .basket--badge {
                @include unitize(line-height, 37);
                @include unitize(font-size, 12);
                @include border-radius(100%);
                @include unitize-height(35);
                @include unitize-width(35);
                margin: 0 auto;
                text-align: center;
                font-weight: $font-bold-weight;
                background: $text-color;
                color: #fff;

                .icon--arrow-right {
                    @include unitize(font-size, 10);
                }

                .icon--coupon {
                    @include unitize(font-size, 20);
                    @include unitize(line-height, 37);
                }
            }
        }

        .thumbnail--image {
            margin: auto;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }

        .item--link {
            color: $text-color;
        }

        .item--quantity {
            @include unitize-margin(0, 5, 0, 0);
            font-weight: $font-bold-weight;
        }

        .item--price {
            font-weight: $font-bold-weight;
            float: right;
        }

        .action--container {
            @include unitize-width(21);
            @include unitize-height(21);
            @include unitize-margin(10, 0, 0, 10);
            line-height: 1;
            float: right;

            .btn {
                @include unitize-height(21);
                @include unitize-width(21);
                @include unitize-padding(4, 5);
                @include unitize(font-size, 8);
                @include unitize(line-height, 14);
            }

            *[class*="icon--"] {
                margin: 0;
                padding: 0;
            }
        }
    }

    .prices--container {
        @include unitize-padding(10, 10);
        border-top: 1px solid $border-color;

        .prices--articles-amount {
            float: right;
        }

        .prices--articles {
            color: $text-color-dark;
            font-weight: $font-bold-weight;
        }

        .prices--tax {
            font-size: 12px;
            font-size: 0.75rem;
            margin: 0;
        }
    }

    .button--container {
        @include unitize-padding(10, 10);
        overflow: hidden;

        *[class*="button--"] {
            @include unitize-width(210);
            @include border-radius();
            text-align: center;
        }

        .button--checkout {
            float: right;
        }

        .button--open-basket *[class^="icon--"] {
            display: none;
        }
    }
}

.off-canvas .ajax--cart {
    @include unitize(font-size, 14);
    background: #fff;
    width: auto;
    position: absolute;
    left: 0;
    right: 0;
    border: 0 none;
    min-height: 100%;

    .item--container {
        max-height: none;
    }

    .cart--item {
        @include unitize(line-height, 19);

        .item--link {
            @include unitize-width(149);
            display: inline-block;
        }

        .item--price {
            float: none;
            display: block;
        }
    }

    .prices--container {
		background: #fff;
        border-bottom: 0 none;
    }

    .action--container,
    .action--container .action--remove {
        @include unitize-width(38);
        @include unitize-height(38);
    }

    .action--container {
        margin: 0;

        .action--remove {
            @include unitize(font-size, 14);
            text-align: center;
            vertical-align: middle;
        }

        .icon--loading-indicator {
            @include unitize-width(21);
            @include unitize-height(21);
            @include unitize-margin(9, 0, 0, 0);
            position: relative;
            margin-left: auto;
            margin-right: auto;
        }

        *[class*="icon--"] {
            @include unitize(line-height, 28);
            margin: 0;
            padding: 0;
        }
    }

    .button--container {
        text-align: left;

        *[class*="button--"] {
            @include unitize-margin(10, 0, 0, 0);
            width: 100%;
        }

        .button--checkout {
            margin: 0;
        }

        .button--open-basket {
            @include unitize(padding-right, 30);

            *[class^="icon--"] {
                display: block;
                @include unitize(right, 10);
            }
        }
    }
}

@media screen and(min-width: $tabletViewportWidth) {
    .container--ajax-cart.is--shown {
        display: block;
    }
}

@media screen and(min-width: $desktopViewportWidth) {
    .container--ajax-cart {
        margin-right: 0;
    }
}
